label {
  display: block;
}
#atlas-section {
  width: 100vw;
}
.grid-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

#postdata {
  margin-top: 2em;
  text-align: center;
}
